.button{
    background-color:white;
    padding:0px 15px 2px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    color: #CAC5C0;
    font-size:20px;
    font-family: BariolBold;
    margin-top:10px;
    text-transform:lowercase;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.button {

}

.greenHeader {
font-size:30px; color:#00a399;
}

.greenSubheader {
font-size: 21px;    color: #00a399;
}

.larger {
font-size: 21px;
}

