﻿@font-face {
	font-family: 'BariolRegular';
	src: url('/fonts/BariolRegular.eot');
	src: local('BariolRegular'), url('/fonts/BariolRegular.woff') format('woff'), url('/fonts/BariolRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'BariolBold';
	src: url('/fonts/BariolBold.eot');
	src: local('BariolBold'), url('/fonts/BariolBold.woff') format('woff'), url('/fonts/BariolBold.ttf') format('truetype');
}
body{
    font-family: BariolRegular;
    font-size: 16px;
    color: #302b28
}
html,body {
    height:100%;
}
img{
    max-width: 100%;
}
a{
	color:#00a399;
}
a:hover{
	color:#00a399;
	text-decoration:underline;
}
.top-nav{
    padding-top: 10px;
    position: relative;
	padding-bottom:10px;
}

.links{
	text-transform:lowercase;
    bottom: -10px;
    right: 0px;
    position: absolute;
	z-index:100;
}
.top-nav ul{
	margin-bottom:0px;
}
.top-nav ul li{
    display: inline-block;
    margin: 0px 10px;
	position:relative;
	padding-bottom:10px;
}

.top-nav ul li .submenu{
	position:absolute;
	display:none;
}

.top-nav ul:after {
	content: ""; clear: both; display: block;
}



.top-nav ul li:hover > .submenu{
	display:block;
}

.top-nav ul li a{
    font-family: 'BariolBold';
    font-size:  18px;
    color:  #3e525c;
}

.top-nav .submenu{
	background-color:rgba(255,255,255,0.9);
	top:35px;
	min-width:250px;
	padding-left:0px;
	margin:0px;
}
.top-nav .submenu li{
	padding:15px 25px;
	border-top:1px solid #ddd;
	display:block;
	margin:0px;
}


.active-cards{
    position: absolute;
    top: 0px;   
    right: 0px;
    text-align: center;
}
.active-cards p{
    font-family: 'BariolBold';
    font-size:16px;
    color: #3e525c;
}
.active-cards img{
    margin-top: -4px;
    width: 28px;
    margin-right: 7px;
}

.active-cards .number{
    border-radius: 40px;
    background-color: #00a399;
    padding: 5px 30px;
    color: white;
    font-size: 21px;
}
.hero{
    background: #ece8e6;
    text-align: center;
}
.hero .container{
	position:relative;
	
}

.hero .background{
	position:absolute;
	width:100%;
	height:300px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

.hero-small .background{
	height:200px;
}
.hero h1{
    font-size: 60px;
    line-height:55px;
    color:#3e525c;
}
.hero p{
    font-size:22px;
    line-height: 29px;
    color: #6b6967;
}
.hero .col-md-7{
	padding-bottom:20px;
}
.hero .col-md-5{
    min-height: 305px;
}
.hero-small {
    background-size:  auto 200px;
	background-repeat: no-repeat;
}
.hero-small .col-md-5{
    min-height: 200px;
}
@media (min-width: 992px) {
	.hero .background{
		position:absolute;
		width:42%;
		right:0;
		background-position: right top;
		background-size:contain;
		background-repeat:no-repeat;
	}
	
  .hero{
        text-align: left;
    }
   
}
.button{
    background-color:#00a399;
    padding:0px 15px 2px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    color: white;
    font-size:20px;
    font-family: BariolBold;
    margin-top:10px;
    text-transform:lowercase;
}
.button a{
    color: white;
}
.button:hover{
	color: white;
	text-decoration:none!important;
}
.infoboxes{
    padding: 20px 0px;
    padding-top:  40px;
}


.infobox{
    background-color:#3e525c;
    font-size:16px;
    line-height:20px;
    padding:20px;
    padding-bottom: 35px;
    border-radius:5px;
    color:#302B28;
    position: relative;
    min-height: 160px;
}

.infobox .image{
    position: absolute;
    margin:  auto;
    right: 5px;
    bottom: 0;
    top: 0;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.infobox p{
    margin-right:140px;
    color: #c1c8cb;
}

.infobox h3{
    margin-right: 120px;
    margin-top: 0px;
    color:white;
    font-size:34px;
    line-height:30px;
}
.infobox .button{
    font-size:16px;
    color: white;
    position: absolute;
    bottom: 15px;
}

.infobox-left{
    border-top-left-radius:40px;
}


.infobox-right{
    border-bottom-right-radius:40px;
}

.home-links{
    background: white;
    text-align:center;
    color: #65757d;
}

.home-links .icon{
    background-color: #00a399;
    max-width: 50px;
    padding: 10px 0px;
    border-radius:0px 0px 5px 5px;
    margin: 0 auto;
}

.home-links .icon .img{
    height:30px;
}
.home-link{
    background-color: #d3cdc9;
    padding-bottom: 30px;
}

.home-links .col-md-3{
    padding-left: 0px;
    padding-right: 0px;
}

.home-links:last-child{
    margin-bottom: -20px;
}

@media (min-width: 992px) {
    .home-links {
        background: #d3cdc9;
    }
    .home-links .col-md-3{
        padding-left: 15px;
        padding-right: 15px;
    }
  .home-links .icon{
        background-color: #00a399;
        max-width: 50px;
        padding: 10px 0px;
        border-radius:0px 0px 5px 5px;
        margin: 0 auto;
    }
   .home-links:last-child{
        margin-bottom: 0px;
    }
}

.home-links h3{
    color: #3e525c;
    margin-top: 10px;
    margin-bottom: 5px;
}

.home-links .button{
    background-color: #00a399;
    font-size:16px;
    color: white;
}

.left-content{
    padding: 50px 0px 0px 0px;
}
.sidebar-nav ul{
    padding:  50px 0px 0px;
}

.sidebar-nav ul li{
    background-color: #00a399;
    color: white;
    border-radius: 7px 7px 20px 7px;
    margin-bottom: 5px;
    font-size: 21px;
    list-style: none;
}

.sidebar-nav ul li:hover{
    background-color: #3e525c;
}
.sidebar-nav ul li a{
	font-family:'Bariol';
    padding: 6px 12px;
    color: White;
    display: block;
}

.sidebar-nav ul li a:hover{
    text-decoration: none;
}

.sidebar-nav .current{
    background-color: #d3cdc9;
}

.greenHeader{
    font-size: 30px;
    color: #00a399;
}

.greenSubheader{
    font-size: 21px;
    color: #00a399;
}
.larger{
    font-size: 21px;
}


.content-block-title, .download-block-title{
    background-color: #00a399;
    color: white;
    border-radius: 20px 7px 0px 0px;
    padding: 4px 16px;
}

.content-block-title h2, .download-block-title h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.content-block, .download-block{
    background-color: #ebe8e7;
    border-radius: 0px 0px 40px 7px;
    padding: 20px 10px 10px 0px;
    position: relative;
    margin-bottom: 25px;
}

.content-block{
	padding: 20px;
	font-size:18px;
	color:#3E525C;
	line-height:30px;
} 

.download-block img{
    margin: 0px 15px;
    margin-bottom:  5px;
    vertical-align: top;
}

.download-block a{
    line-height: 38px;
    font-size:  24px;
    color:  #3e525c;
}

.download-block:last-child{
    margin-bottom: 0px;
}


.speechbubble{
    margin-top: 20px;
    background-color:  #3e525c;
    border-radius: 7px 7px 40px 7px;
    color: white;
    padding: 10px 10px 20px;
    font-size: 21px;
    line-height: 24px;
}

.speechbubble-bottom{
    background-image: url('/Media/speech-bottom-01.png');
    background-repeat: no-repeat;
    height: 27px;
    width:  100%;
    margin-top: -1px;
    background-position: calc(100% - 50px)
}

.speechbubble-img{
    float: right;
    margin-top: -5px;
}

footer{
    background-color: #ebe8e7;
    width: 100%;
    min-height: 100px;
    padding: 20px 0px;
}

footer ul{
   margin: 0px;
   padding-left: 0px;
}
footer ul li{
    
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

footer ul li a{
    font-family: 'BariolBold';
    font-size:  15px;
    color:  #777371;
}

footer p{
    font-size: 10px;
    color: #bfbdbc;
}

.footer-logos img{
    vertical-align: top;
    margin-left: 20px;
}

.footer-logos{
    text-align: right;
}


table{
	font-size:18px;
	color: #3E525C;
}
table tr:first-child td{
	background-color:#00A399;
	color:white;
	padding-top:40px;
	font-family:'Bariol-Bold'
}
table tr:last-child td{
	padding-bottom:30px;
}
table tr:first-child td:first-child{
	border-top-left-radius: 40px;
	padding-left:20px;
}
table tr:first-child td:last-child{
	border-top-right-radius: 40px;
}
table tr:last-child td:first-child{
	border-bottom-left-radius: 40px;
}
table tr:last-child td:last-child{
	border-bottom-right-radius: 40px;
}


table tr{
	background-color:#EBE8E7;
}

table tr td{
	vertical-align:top;
	width:40%;
	padding:10px 15px;
	border: 4px solid white;
}

.small-right{
	max-width:40%;
	float:right;
}

