﻿@inherits UmbracoViewPage < Lecoati​.​LeBlender​.​Extension​.​Models​.​LeBlenderModel​ >

@foreach(var item in Model​.​Items){

<div class="download-block-title">
    @{var title = @item.GetValue("blockTitle");}
    @if(title != null){
            <h2>@title</h2>
    }
</div>

<div class="download-block">

    @for(var i = 1; i < 7; i++){

        var dl = @item.GetValue("download"+i);
        var dlLabel = @item.GetValue("download"+i+"Label");
        <p>@if(@dl!=null){
             <div style="float: left"><img src='~/Media/icon-download-circle.png'/></div>
             <div><a href='@Umbraco.Media(dl).Url'>@dlLabel</a></div>
           }
        </p>
    }

 
</div>

}