﻿@inherits UmbracoViewPage<Lecoati​.​LeBlender​.​Extension​.​Models​.​LeBlenderModel​>

@foreach(var item in Model​.​Items){
    <div class='home-link'>

        <div class="icon">
            @{var icon = @item.GetValue("icon");}
            @if(icon != null){
                 <img src="@Umbraco.Media(@icon).Url"/>
            }
        </div>

        @{var title = @item.GetValue("title");}
        @if(title != null){
             <h3>@title</h3>
        }
   
        
        @{var description = @item.GetValue("description");}
        @if(description != null){
            <p>@description</p>
        }
        

        @{var url = @item.GetValue("link");}
        @if(url != null){
            var link = Umbraco.Content(url).Url;
            <a href="@link" class="button">more</a>
        }

    </div>
}​

