﻿@inherits UmbracoViewPage < Lecoati​.​LeBlender​.​Extension​.​Models​.​LeBlenderModel​ >

@foreach (var item in Model​.​Items){

    var position = "none";
    if( @Umbraco.GetPreValueAsString(int.Parse(@item.GetValue("position"))) != null){
        position = Umbraco.GetPreValueAsString(int.Parse(@item.GetValue("position")));
    }
    <div class="infobox infobox-@position">

        @{var image = @item.GetValue("backgroundImage");}
        @if(image != null){
             <div class="image"  style="background-image: url('@Umbraco.Media(image).Url') "></div>
        }
        
        @{var title = @item.GetValue("title");}
        @if(title != null){
             <h3>@title</h3>
        }
   
        
        @{var description = @item.GetValue("description");}
        @if(description != null){
            <p>@description</p>
        }
        
        @{var url = @item.GetValue("link");}
        @if(url != null){
            var link = Umbraco.Content(url).Url;
            <a href="@link" class="button">more</a>
        }
    </div>
}​

