﻿@inherits UmbracoViewPage < Lecoati​.​LeBlender​.​Extension​.​Models​.​LeBlenderModel​ >

@foreach(var item in Model​.​Items){

<div class="download-block-title">
    @{var title = @item.GetValue("title");}
    @if(title != null){
            <h2>@title</h2>
    }
</div>

<div class="content-block">

   @Html.Raw(item.GetValue("content"))
   

 
</div>

}