﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div  class="hero">
	
	<div class='container'>
    <div class='background' style='background-image: url(@Umbraco.Media(CurrentPage.headerBackgroundImage).Url)'></div>
		<div class='row'>
			<div class='col-md-5 col-md-push-7'>
			    
				</div>
			<div class='col-md-7 col-md-pull-5'>
				<h1>@Umbraco.Field("heading")</h1>
				<p>@Umbraco.Field("description")</p>
				<a href='@Umbraco.Content(CurrentPage.headerLink).Url' class='button'>more</a>
			</div>
		</div>
	</div>
</div>
@CurrentPage.GetGridHtml("homepageGrid")