﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>@Umbraco.Field("pageName")</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Css/style.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      
      <div class="container top-nav">
          <div class="row">
            <div class="col-md-12">
                <a href="~/"><img alt="SKILLcard"src="~/Media/logo.png"/></a>
                  <div class="active-cards">
                    <p>Active SKILLcards</p>
                    <span class="number"><img alt="card icon"src='~/Media/1009/icon-card.png'/>50292</span>
                  </div>
                  <div class='links'>
                  <ul>
                  
                  
                   @{var rootNodes = Umbraco.TypedContentAtRoot();}
                    @foreach (var n in rootNodes)
                    {
                        var children = n.Children;
                        var c = "";
                        if(children.Count() > 0){
                           c = "dropdown";
                        }
                        <li class="@c">
                            @if(children.Count() > 0){
                              <a href="@n.Url">@n.Name <span class="caret"></span></a>
                              <ul class="submenu">
                                  
                                    @foreach (var ch in children){
                                        <li><a href="@ch.Url">@ch.Name</a></li>
                                    }
                              </ul>
                            }else{
                                <a href="@n.Url">@n.Name</a>
                            }
                        </li>
                    }
                  
                  
                   
                  </ul>
                  </div>
            </div>
          </div>
       </div>

      @RenderBody()
      
        

      <footer>
          <div class="container">
              <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><a href="~/">home</a></li>
                            <li><a href="#">how to apply</a></li>
                            <li><a href="#">find your card</a></li>
                            <li><a href="#">check a card</a></li>
                        </ul>
                        <p>This website uses cookies. They are essential for the smooth operation of the site and some parts may not operate without them. They are stored locally on your computer or mobile device. To accept cookies continue browsing as normal or go to our cookie notice for more information.</p>
                    </div>
                    <div class="col-md-6 footer-logos">
                        <img alt="Microsoft Gold Certified Partner" src="~/Media/logo-microsoft.png"/>
                        <img alt="Investors In People" src="~/Media/logo-iip.png"/>
                        <img alt="SKILLcard" src="~/Media/logo-skill.png"/>
                        <img alt="Norton Secured" src="~/Media/logo-norton.png"/>
                    </div>
              </div>
          </div>
      </footer>

      

      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
      <script>
          $(document).ready(function () {

              var highestBox = 0;
              $('.infobox', this).each(function () {

                  if ($(this).height() > highestBox)
                      highestBox = $(this).height();

              });

              $('.infobox', this).height(highestBox);

          });

          $(window).resize(function () {
              
              $('.infobox').height('auto');
              var highestBox = 0;

              $('.infobox').each(function () {
 
                  if ($(this).height() > highestBox)
                      highestBox = $(this).height();

              });

              $('.infobox').height(highestBox);
 
          });



      </script>
    
  </body>
</html>