﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{

  var bg = "";
  
  if(CurrentPage.headerBackgroundImage>0){
      bg = @Umbraco.Media(CurrentPage.headerBackgroundImage.ToString()).Url;
  }
  
}

@{
	var sImage = "";
  	if(CurrentPage.speechBubbleImage>0){
      sImage = Umbraco.Media(CurrentPage.speechBubbleImage.ToString()).Url;
  	}else{
      var img = CurrentPage.AncestorOrSelf(1).speechBubbleImage;
      sImage = @Umbraco.Media(img.ToString()).Url;
  	}
}

<div class="hero hero-small" >
	
	<div class='container'>
     <div class='background' style='background-image: url(@Umbraco.Media(CurrentPage.headerBackgroundImage).Url)'></div>
		<div class='row'>
			<div class='col-md-5 col-md-push-7'>
			
				</div>
			<div class='col-md-7 col-md-pull-5'>
				<h1>@Umbraco.Field("heading")</h1>
				<p>@Umbraco.Field("description")</p>
			</div>
		</div>
	</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-9 left-content">
            @CurrentPage.GetGridHtml("content")
        </div>
        <div class="col-md-3 sidebar-nav">
        <ul>
            
            @{var root = CurrentPage.AncestorOrSelf(1);}
            @if(root.Url == CurrentPage.Url){
                <li class="current"><a href="@root.Url">@root.Name</a></li>
            }
            else{
                <li><a href="@root.Url">@root.Name</a></li>
            }
            
            @foreach(var page in CurrentPage.AncestorOrSelf(1).Children)
            {
                if(page.Url == CurrentPage.Url){
                    <li class="current"><a href="@page.Url">@page.Name</a></li>
                }
                else{
                   <li><a href="@page.Url">@page.Name</a></li>
                }
            }
            
        </ul>

            <div class="speechbubble">@CurrentPage.AncestorOrSelf(1).SpeechBubble</div>
            <div class="speechbubble-bottom"></div>
            <div class="speechbubble-img"><img src="@sImage"/></div>
        </div>
    </div>
</div>

@{
    var footer = Umbraco.Content(1059);
}
@footer.GetGridHtml("homepageGrid")